* {
	padding: 0;
	margin: 0;
	font-family: inherit;
}

:root {
	--primary-color: #ffc21a;
}

header {
	max-width: 100%;
	height: 100vh;
	overflow-x: hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
		url("./imgs/hand-taking-slice-of-pizza-from-wooden-board-2022-03-29-08-01-02-utc.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
nav {
	/* background-color: skyblue; */

	padding: 30px 80px;

	display: flex;
	justify-content: space-around;
}
.nav_logo {
	max-width: 10em;
}

.nav_menu {
	list-style: none;

	display: flex;
	line-height: 50px;
	gap: 40px;
	text-transform: uppercase;
}
.nav_menu li a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 16px;
	position: relative;
}
.menulink::after {
	content: "";
	width: 0;
	height: 2.5px;
	background-color: var(--primary-color);

	position: absolute;
	bottom: -5px;
	left: 0;
	transition: all 0.2s ease-in;
}
.menulink:hover.menulink::after {
	width: 100%;
	background-color: var(--primary-color);
}
.orderBtn,
.view_menusBtn {
	min-width: 160px;
	background: none;
	color: #fff;

	margin: 0px 30px;

	font-weight: 600;
	font-size: 20px;
	border: 2px solid #fff;

	transition: all 0.2s ease-in-out;
}
.orderBtn:hover,
.view_menusBtn:hover {
	scale: 1.1;
	background: var(--primary-color);
	border: 2px solid var(--primary-color);

	color: #000;
	border: none;
}
.hamburgerBtn {
	background: none;
	border: none;
	outline: none;

	display: none;
	margin-top: 20px;
}
.closeBtn {
	background: none;
	border: none;
	outline: none;

	font-weight: bold;
	font-size: 24px;
	color: #fff;

	position: fixed;
	top: 0;
	right: 20px;
}
.lines {
	width: 22px;
	height: 4px;
	margin: 3px;
	background-color: white;
}
.lines:nth-of-type(2) {
	transform: translate(4px);
}

/* Start Banner Section */

.banner {
	color: white;

	margin: 0em 7.5em;
}
.banner h5 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.banner h5 span {
	width: 100px;
	height: 2px;
	background: #fff;

	display: inline-block;
}
.taste-for,
.everyone {
	text-transform: uppercase;
	font-size: 70px;
	font-weight: bold;
	padding: 0;
}
.everyone {
	margin-right: -15px;
	display: inline-block;
	animation: everyoneAni ease-in-out 1s backwards;
}
.banner_para {
	max-width: 40%;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
}
.view_menusBtn {
	padding: 20px;
	margin: 10px -10px;
}

@keyframes everyoneAni {
	from {
		transform: translate(50px);
		opacity: 0;
	}
	to {
		transform: translate(0px);
		opacity: 1;
	}
}
/* End Banner Section */

/* Responsive Section */
@media all and (max-width: 767px) {
	/* hiding Order Meal Btn */
	.orderBtn {
		display: none;
	}
}
@media (min-width: 200px) and (max-width: 1024px) {
	/* Navbar Section */
	/* hide and show hamburger */
	.hamburgerBtn {
		display: block;
	}
	.lines.active:nth-child(2) {
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}
	.lines.active:nth-child(1) {
		transform: translate(10px);
		rotate: 45deg;
		transition: all 0.3s ease-in-out;
	}
	.lines.active:nth-child(3) {
		rotate: -45deg;
		transform: translate(10px);
		transition: all 0.3s ease-in-out;
	}
	header {
		overflow-x: hidden;
	}

	.nav_menu {
		width: 200px;
		height: max-content;
		background-color: #000;

		position: fixed;
		top: 80px;
		right: -70%;

		flex-direction: column;
		gap: 20px;

		padding: 40px 20px;

		transition: all 0.3s ease-in;
		z-index: 2;
	}

	.nav_menu.active {
		right: 0;
	}
}

@media (max-width: 700px) {
	.banner {
		/* background: red; */
		margin: 20px 10px;
		/* min-width: 40em; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.taste-for,
	.everyone {
		font-size: 50px;
	}
	.banner_para {
		min-width: 100%;
	}
}
